[centos-base]
name=CentOS $releasever - $basearch
baseurl=http://ftp.heanet.ie/pub/centos/7/os/$basearch/
enabled=1
gpgcheck=0

[centos-extras]
name=CentOS extras $releasever - $basearch
baseurl=http://ftp.heanet.ie/pub/centos/7/extras/$basearch/
enabled=1
gpgcheck=0
